@model AllFilteredSuppliers
@{
    ViewData["Title"] = "All";
}

<h2>All Suppliers </h2>
<br />
<h3>Suppliers filtered by @(Model.ImporterType)</h3>


<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Parts In Stock</th>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var supplier in Model.Suppliers)
        {
            <tr>
                <td>@supplier.Id</td>
                <td>@supplier.Name</td>
                <td>@supplier.PartsCount</td>
            </tr>

        }
    }
    </tbody>
</table>

<a asp-controller="Suppliers" asp-action="Search" class="btn btn-info">Back</a>