
@{
    ViewData["Title"] = "Search";
}

<h2>Search Car By Make</h2>


<form class="form-group" asp-action="All" asp-controller="Cars">
    <input class="form-control" type="text" name="carMake"/>
    <br/>
    <input type="submit" value="Find Car" class="btn btn-info"/>
</form>

