@{
    ViewData["Title"] = "Error";
}


<h1 class="text-danger">Error.</h1>
<div class="jumbotron">
    <div class="text-center">
        <h2 class="text-danger">@TempData["ErrorMessage"]</h2>
    </div>
</div>



