@model DeleteViewModel
@{
    ViewData["Title"] = $"Delete Course {Model.Name}";
}

<h2>@ViewData["Title"]</h2>


<form asp-area="Admin" asp-controller="Courses" asp-action="Destroy" method="post">
    <div class="row">
        <div class="jumbotron">
            <div class="text-danger">
               <h2>Are you sure you want to delete course @Model.Name</h2> 
            </div>
            <input type="hidden" name="id" asp-for="Id" />
            <input type="submit" class="btn btn-danger" value="Delete" />
            <a asp-area="Admin" asp-controller="Courses" class="btn btn-info" asp-action="All">Go Back</a>
        </div>
    </div>
</form>
